@import url("https://fonts.googleapis.com/css?family=Lora:400|Roboto:400,700&display=swap");
* {
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #121212;
  color: #fff; }

a {
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: #f1dd80; }
  a:hover {
    color: #a57d24;
    text-decoration: none; }

.ft-primary {
  font-family: "Roboto", sans-serif; }

.ft-secondary {
  font-family: "Lora", serif; }

.fw-regular {
  font-weight: 400; }

.fw-bold {
  font-weight: 700; }

.fc-pure-black {
  color: #000; }

.fc-black {
  color: #121212; }

.fc-white {
  color: #fff; }

.fc-light-gold {
  color: #fbf2a8; }

.fc-medium-gold {
  color: #f1dd80; }

.fc-dark-gold {
  color: #a57d24; }

.rw-25 {
  width: 25%; }

.rw-50 {
  width: 50%; }

.rw-75 {
  width: 75%; }

.rw-100 {
  width: 100%; }

.fc-gradient {
  color: #f1dd80;
  display: inline-block;
  background: #a57d24;
  background: -moz-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), color-stop(100%, #a57c24));
  background: -webkit-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -o-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -ms-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), to(#a57c24));
  background: linear-gradient(to right, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a57d24', endColorstr='#a57c24', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: cover; }

.navbar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out; }
  .navbar * {
    font-family: "Lora", serif; }
  .navbar .navbar-brand {
    color: #f1dd80;
    -webkit-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out; }
    .navbar .navbar-brand:hover {
      color: #a57d24; }
    .navbar .navbar-brand .logo {
      max-width: 3em;
      margin-right: 1.25em; }

.navbar-has-bg {
  background-color: #000;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out; }

.hero {
  background-image: url("./images/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hero .hero-social-icons a {
    color: #fff;
    display: inline-block; }
    .hero .hero-social-icons a:not(:last-child) {
      margin-right: 0.5em; }
    .hero .hero-social-icons a:hover {
      color: #a57d24; }
  .hero .scroll-down-line {
    position: absolute;
    bottom: 2.5em;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 5em;
    height: 1px;
    border-top: 1px solid #fff;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: rotate(90deg) translateX(0);
    transform: rotate(90deg) translateX(0); }
  40% {
    -webkit-transform: rotate(90deg) translateX(-20px);
    transform: rotate(90deg) translateX(-20px); }
  60% {
    -webkit-transform: rotate(90deg) translateX(-10px);
    transform: rotate(90deg) translateX(-10px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: rotate(90deg) translateX(0);
    transform: rotate(90deg) translateX(0); }
  40% {
    -webkit-transform: rotate(90deg) translateX(-20px);
    transform: rotate(90deg) translateX(-20px); }
  60% {
    -webkit-transform: rotate(90deg) translateX(-10px);
    transform: rotate(90deg) translateX(-10px); } }

.section-heading-small {
  position: relative;
  margin-bottom: 1em;
  color: #f1dd80;
  display: inline-block;
  background: #a57d24;
  background: -moz-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), color-stop(100%, #a57c24));
  background: -webkit-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -o-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -ms-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), to(#a57c24));
  background: linear-gradient(to right, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a57d24', endColorstr='#a57c24', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: cover; }
  .section-heading-small:after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -1px;
    width: 1em;
    border-bottom: 2px solid #a57d24; }

.section-heading-big {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  color: #f1dd80;
  display: inline-block;
  background: #a57d24;
  background: -moz-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), color-stop(100%, #a57c24));
  background: -webkit-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -o-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -ms-linear-gradient(left, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#a57d24), color-stop(21%, #f1dc80), color-stop(27%, #f1dc80), color-stop(50%, #fbf1a8), color-stop(76%, #f1dc80), to(#a57c24));
  background: linear-gradient(to right, #a57d24 0%, #f1dc80 21%, #f1dc80 27%, #fbf1a8 50%, #f1dc80 76%, #a57c24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a57d24', endColorstr='#a57c24', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: cover; }

section:not(:first-of-type) {
  margin-top: 10em;
  margin-bottom: 10em; }

#about .toggle-button {
  cursor: pointer;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: #f1dd80; }
  #about .toggle-button:hover {
    color: #a57d24;
    text-decoration: none; }

#about #about-learn-more {
  display: none; }

.dark-section {
  background-color: #000;
  margin: 0 !important;
  padding: 6em 0; }

#contact {
  background-color: #000;
  margin: 0;
  padding: 6em 0; }

#skills {
  background-color: #000;
  padding: 6em 0; }
  #skills .progress-bar {
    background-color: #a57d24; }

footer {
  padding: 2em 0; }
  footer .logo {
    max-width: 3em; }

.skills-logo {
  width: 5em;
  height: 5em;
  margin: 0 2em;
  display: inline-block; }

.tooltip-inner {
  background-color: #121212; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

#testimonials-slider {
  min-height: 35em; }
  #testimonials-slider .swiper-button-next,
  #testimonials-slider .swiper-button-prev {
    -webkit-filter: sepia(1);
    filter: sepia(1); }
  #testimonials-slider .swiper-pagination-bullet {
    background: #fbf2a8; }
  #testimonials-slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #a57d24; }
  #testimonials-slider .swiper-slide div {
    margin: 0 auto;
    width: 60%; }

@media only screen and (max-width: 767px) {
  .rw-50,
  .rw-25,
  .rw-75,
  .rw-100 {
    width: 100%; }
  .hero {
    background-image: url("./images/hero-bg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .skills-logo {
    width: 3em;
    height: 3em;
    margin: 0 0.75em;
    display: inline-block; } }

.timeline {
  position: relative;
  width: 669px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none; }

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0)), color-stop(8%, #505050), color-stop(92%, #505050), to(rgba(80, 80, 80, 0)));
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5; }

.timeline li {
  padding: 1em 0; }

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right; }

.direction-r {
  position: relative;
  width: 300px;
  float: right; }

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center; }

.flag {
  position: relative;
  display: inline;
  background: #a57d24;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: left; }

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #f1dd80;
  z-index: 10; }

.direction-r .flag:before {
  left: -40px; }

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #a57d24;
  border-width: 8px;
  pointer-events: none; }

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #a57d24;
  border-width: 8px;
  pointer-events: none; }

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #a57d24;
  vertical-align: middle; }

.direction-l .time-wrapper {
  float: left; }

.direction-r .time-wrapper {
  float: right; }

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #000; }

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em; }

.direction-r .desc {
  margin: 1em 0 0 0.75em; }

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0; }
  .timeline li {
    padding: 2em 0; }
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center; }
  .flag-wrapper {
    text-align: center; }
  .flag {
    background: #a57d24;
    z-index: 15; }
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 54%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #a57d24;
    z-index: 10; }
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #a57d24;
    border-width: 8px;
    pointer-events: none; }
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14; }
  .direction-l .time-wrapper {
    float: none; }
  .direction-r .time-wrapper {
    float: none; }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: #000;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15; }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15; } }

@media screen and (min-width: 400px) and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em; } }
